{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>
    
    <div class="flex-container">

        {% for list in lists %}
        <a href="{% url 'lists' list.id %}" class="hyper-link">

            <div class="flex-items">
                
                {% if list.image %}
                <div class="image-item">
                    <img class="border border-dark" src="{{ list.image }}" alt="{{ list.title }}">
                </div>
                {% endif %}

                <div class="list-descriptions ">

                    <div class="title border border-success">
                        <h4> {{ list.title }} </h4>
                    </div>

                    <div class="description border border-success">
                        <strong>Description:</strong>  {{ list.description}}
                    </div>
                    
                    {% if list.category %}
                    <div class="category border border-success">
                    Category: {{ list.category }}
                    </div>
                    {% endif %}
                    <div class="price border border-success">
                        Price: ${{ list.price }}
                    </div>
                </div>

            </div>
        </a>
        {% endfor %}
    </div>
    
  


{% endblock %}