{% extends 'auctions/layout.html' %}

{% block body %}
<a href="{% url 'index' %}" > Return </a>
<div style="margin-top: 20px;">
    <div>
        <div>
            {% if watchlist %}
            <form action="{% url 'add&removewatchlist' lists.id %}" method="post">
                {% csrf_token %}
                <button>Remove from Watchlist</button>
            </form>
            {% else %}
            <form action="{% url 'add&removewatchlist' lists.id %}" method="post">            
                {% csrf_token %}
                <button>Add to Watchlist</button>
            </form>

            {% endif %}
        </div>
        {{ lists.title }}
        <img src="{{ lists.image }}" alt="{{ lists.title }}">
        {{ lists.description }}
    </div>
        <div>
            {{ message_bid }}
            &nbsp;&nbsp;&nbsp;Items price : {{lists.price }} <br>
            Current bid: ${{ price }} <br>

            {% if user.id == lists.user.id %}
            <form action="{% url 'closebid' lists.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Close Auction">
            </form>
            {%  else %}
            {{ length }} bid(s) so far.
            <form action="{% url 'bid' lists.id %}" method="post">
                {% csrf_token %}
                {{ bid }} 
                <input type="submit" value="Bid">
            </form>
            {% endif %}
        </div>
        <div> 
            <form action="{% url 'comment' lists.id %}" method="post">
                {% csrf_token %}
                Comments:
                {{ add_comment.comment }}
                <input type="submit" value="Comment">
            </form>
            {% for comment in comments %}
                <div>
                    {{ comment.user  }}
                    {{ comment.message }}
                </div>
            {% endfor %}
        </div>
</div>
{% endblock %}