{% extends 'auctions/layout.html' %}


{% block body %}
<h1>Watchlist</h1>

{% for watchlist in watchlists %}

<a href="{% url 'lists' watchlist.id %}">
    <div class="container" style="border: 2px solid green;">
        <img src="{{ watchlist.image }}" alt="{{watchlist.title }}" style="width:30% ; border: 2px solid yellowgreen;">
        <div style="float: right; border: 2px solid blue;">
            {{ watchlist.title }}
            {{ watchlist.description }}
            {{ watchlist.time }}
           <h1>

        {{ watchlist.category }}
        </h1> 
        </div>
    </div>
</a>

{% empty %}
<h2>No Watchlist</h2>

{% endfor %}




{% endblock %}